# Prerequisites
**.d

# Compiled Object files
**.slo
**.lo
**.o
**.obj

# Precompiled Headers
**.gch
**.pch

# Compiled Dynamic libraries
**.so
**.dylib
**.dll

# Fortran module files
**.mod
**.smod

# Compiled Static libraries
**.lai
**.la
**.a
**.lib

# Executables
**.exe
**.out
**.app

# Netbeans IDE project files
nbproject/

lnInclude/

**.dep
**.swp

**/Make/*
**/processor*
/docs/html
/docs/DTAGS
!**/Make/files
!**/Make/options
versionRules/foamVersion4wmles.H
versionRules/foamVersion
foamVersionThisIsCompiledFor

