# Prerequisites
**.d

# Compiled Object files
**.slo
**.lo
**.o
**.obj

# Precompiled Headers
**.gch
**.pch

# Compiled Dynamic libraries
**.so
**.dylib
**.dll

# Fortran module files
**.mod
**.smod

# Compiled Static libraries
**.lai
**.la
**.a
**.lib

# Executables
**.exe
**.out
**.app

# Netbeans IDE project files
nbproject/

lnInclude/

**.dep

**/Make/*
/docs/html
/Make/linux*
!**/Make/files
!**/Make/options
/tests/testCases/channel_flow/processor*/
